<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/heart"
        android:label="Health Connect"
        android:roundIcon="@drawable/heart"
        android:supportsRtl="true"
        android:theme="@style/Theme.NFC.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".patient.chatbot"
            android:exported="false" />
        <activity
            android:name=".hospital.patientdata.HealthRecord"
            android:exported="false" />
        <activity
            android:name=".hospital.patientdata.ProfileDetails"
            android:exported="false" />
        <activity
            android:name=".hospital.patientdata.medicalReport.MedicalReport"
            android:exported="false" />
        <activity
            android:name=".hospital.patientdata.medicalReport.ShowReport"
            android:exported="false" />
        <activity
            android:name=".patient.appointments.SubmitAppointment"
            android:exported="false" />
        <activity
            android:name=".hospital.nfchospital.nfc_tag_hospital"
            android:exported="false" />
        <activity
            android:name=".hospital.nfchospital.form_fill"
            android:exported="false" />
        <activity
            android:name=".hospital.nfchospital.qrscanner_hospital"
            android:exported="false" />
        <activity
            android:name=".hospital.nfchospital.NFC_hospital"
            android:exported="false">

        <intent-filter>
            <action android:name="android.nfc.action.NDEF_DISCOVERED" />
            <category android:name="android.intent.category.DEFAULT" />
            <action android:name="android.nfc.action.TAG_DISCOVERED" />
            <action android:name="android.nfc.action.TECH_DISCOVERED" />
            <data android:mimeType="text/plain" />
        </intent-filter>

        <meta-data
            android:name="android.nfc.action.TECH_DISCOVERED"
            android:resource="@xml/nfc_tech_filter" />

        </activity>



        <activity
            android:name=".doctors.newdoctor"
            android:exported="false" />
        <activity
            android:name=".patient.qr.qrcodepatient"
            android:exported="false" />
        <activity
            android:name=".patient.qr.nfc"
            android:exported="false" />
        <activity
            android:name=".hospital.patientdata.PatientData"
            android:exported="false" />
        <activity
            android:name=".hospital.hospitalsidenav.Staff"
            android:exported="false" />
        <activity
            android:name=".doctors.Doctors"
            android:exported="false" />
        <activity
            android:name=".hospital.hospitalsidenav.HospitalAppointments"
            android:exported="false" />
        <activity
            android:name=".patient.sidenav.AyuCard"
            android:exported="false" />
        <activity
            android:name=".patient.sidenav.PatientProfile"
            android:exported="false" />
        <activity
            android:name=".patient.sidenav.MedicalReports"
            android:exported="false" />
        <activity
            android:name=".patient.sidenav.Records"
            android:exported="false" />
        <activity
            android:name=".patient.appointments.Appointments"
            android:exported="false" />
        <activity
            android:name=".hospital.Hospital_main"
            android:exported="false" />
        <activity
            android:name=".patient.Patient_main"
            android:exported="false" />
        <activity
            android:name=".patient.patient_main"
            android:exported="false"
            android:label="@string/title_activity_patient_main" />
        <activity
            android:name=".auth.patient_medical_signin"
            android:exported="false" />
        <activity
            android:name=".auth.patient_personal"
            android:exported="false" />
        <activity
            android:name=".auth.patient_signin"
            android:exported="false" />
        <activity
            android:name=".auth.hospital_signin"
            android:exported="false" />
        <activity
            android:name=".auth.Register"
            android:exported="false" />
        <activity
            android:name=".hospital.HOSPITAL"
            android:exported="false"
            android:label="@string/title_activity_hospital" />
        <activity
            android:name=".patient.MainActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name=".auth.splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>